@import 'public/sass/style.scss';

.checkBox-Container {
	.css-ahj2mt-MuiTypography-root {
		font-family: $font-family-sec;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
	.css-ahj2mt-MuiTypography-root:hover {
		color: red;
	}
	h3 {
		font-size: 14px;
		color: black;
		text-transform: uppercase;
	}
	.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
	.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
		color: rgb(233, 5, 5);
	}
}
