.radio-size-wraper {
	.css-j204z7-MuiFormControlLabel-root {
		display: block;
		margin: 0;
		position: relative;
	}

	.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
		height: 30px;
		width: 55px;
		border-radius: 0;
		background-color: rgb(255, 255, 255);
		padding: 0;
		border: 1px solid red;

		.css-hyxlzm {
			display: none;
		}
	}

	.css-vqmohf-MuiButtonBase-root-MuiRadio-root:hover {
		background-color: rgba(168, 67, 67, 0.233);
	}

	.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
		background-color: red;
	}

	.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked + .MuiFormControlLabel-label {
		color: white;
	}





	.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
		position: absolute;
		right: 37%;
		top: 5px;
		font-size: 13px;
		// color:blue;
	}
}

.radio-box-wraper {
	display: flex;
	gap: 12px;
}

.radio-box-wraper.radio-color-wraper {
	margin-top: 20px;
	margin-bottom: 20px;
}

.radio-size-wraper.radio-color-wraper.radio-color-black {
	.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
		background-color: black;
		border: none;
	}
}

.radio-size-wraper.radio-color-wraper.radio-color-green {
	.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
		background-color: greenyellow;
		border: none;
	}
}

.radio-size-wraper.radio-color-wraper.radio-color-red {
	.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
		background-color: red;
		border: none;
	}
}

.radio-size-wraper.radio-color-wraper.radio-color-blue {
	.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
		background-color: blue;
		border: none;
	}
}

.radio-size-wraper.radio-color-wraper {
	.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
		border: 3px solid rgb(0, 199, 133);
	}
}

.radio-size-wraper.radio-color-wraper {
	&:hover {
		opacity: 0.7;
	}
}

.qty-atc-section-wraper {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 30px;
	.qty-wraper {
		display: flex;
		align-items: center;
		gap: 6px;

		.number-input-wraper {
			.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
				height: 50px;
				width: 57px;
			}
		}
	}

	.atc-wraper {
		display: flex;
		align-items: center;
		gap: 10px;

		.product-btns {
			height: 50px;
			width: 150px;
			-moz-transition: all 0.2s ease-in;
			-o-transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			transition: all 0.3s ease-in;
		}

		.atc-btn {
			background-color: red;
			color: white;

			&:hover {
				background-color: black;
			}
		}

		.atw-btn {
			background-color: white;
			color: black;
			border: 1px solid gainsboro;
			width: 210px;
			&:hover {
				background-color: black;
				color: white;
			}
		}
		.product-btns.atw-btn.atw-btn-remove {
			background-color: black;
			color: red;
			&:hover {
				background-color: black;
				color: white;
			}
		}
	}
}

.social-box {
	.facebook {
		height: 25px;
		font-size: 10px;
		padding: 0 3px;
		border-radius: 5px;
		margin-right: 15px;
		.css-i4bv87-MuiSvgIcon-root {
			font-size: 15px;
			margin-right: 5px;
		}
	}

	.tweeter {
		height: 25px;
		font-size: 10px;
		padding: 0 3px;
		border-radius: 5px;
		background-color: #1d9bf0;
		margin-right: 5px;
		.css-i4bv87-MuiSvgIcon-root {
			font-size: 15px;
			margin-right: 5px;
		}
	}

	.share {
		height: 25px;
		font-size: 10px;
		padding: 0 3px;
		border-radius: 5px;
		background-color: #fe6d4c;
		.css-i4bv87-MuiSvgIcon-root {
			font-size: 15px;
			margin-right: 5px;
		}
	}
}


@media screen and (max-width: 400px) {

	.qty-atc-section-wraper .atc-wraper .atw-btn {
		width: 170px;
	}


  }
@media screen and (max-width: 520px) {
	.qty-atc-section-wraper {
		flex-direction: column;
	}

	.productPage-container .size-and-colors-box {
		.css-1nrlq1o-MuiFormControl-root {
			width: 100%;
		}
	}
	.qty-atc-section-wraper .qty-wraper {
		align-self: flex-start;
	}
	.qty-atc-section-wraper .atc-wraper {
		align-self: flex-start;
	}
  }

  
@media screen and (max-width: 823px) {
	.product-tabs-container .tabs-wraper {
		background-color: white !important;
	}
	.product-tabs-container .css-heg063-MuiTabs-flexContainer {
		flex-direction: column;
	
		align-items: center;
		background-color: white !important;
		
		
		
	}

	.product-tabs-container .tabs-wraper .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
		background-color: rgb(247, 247, 247);
		width: 100%;
	}
  }