@import 'public/sass/style.scss';

.checkBox-Container {
	.MuiTypography-root {
		font-family: $font-family-sec;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
	.MuiTypography-root:hover {
		color: red;
	}
	h3 {
		font-size: 14px;
		color: black;
		text-transform: uppercase;
	}
	.black-label {
		.MuiSvgIcon-root {
			background-color: black;
		}
		&.Mui-checked {
			color: rgb(255, 0, 0);
		}
	}

	.red-label {
		.MuiSvgIcon-root {
			background-color: red;

			path {
				color: transparent;
			}
		}
		&.Mui-checked {
			color: black;

			path {
				color: black;
			}
		}
	}

	.blue-label {
		.MuiSvgIcon-root {
			background-color: blue;
			path {
				color: transparent;
			}
		}
		&.Mui-checked {
			color: rgb(255, 0, 0);

			path {
				color: red;
			}
		}
	}

	.green-label {
		.MuiSvgIcon-root {
			background-color: greenyellow;
			path {
				color: transparent;
			}
		}
		&.Mui-checked {
			color: rgb(255, 0, 0);

			path {
				color: red;
			}
		}
	}
}
