.product-tabs-container {
	margin-top: 100px;
	.tabs-wraper {
		padding: 25px 0px;
		background-color: #eeeeeed0;

		.Mui-selected {
			color: black;
		}

		.MuiTab-root {
			font-size: 17px;
		}
	}

	.MuiTabs-flexContainer {
		justify-content: center;
		gap: 20px;
	}

	p {
		margin-top: 50px;
		font-size: 13px;
		color: rgb(173, 169, 169);
	}
}
