.product-tabs-container{
margin-top: 100px;
    .tabs-wraper{
        padding: 25px 0px;
        background-color: #eeeeeed0;

        .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
            color: black;
           

        }

        .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
            font-size: 17px;
        }

        
    }


    .css-heg063-MuiTabs-flexContainer {
        justify-content: center;
        gap: 20px;
        





}


.css-ahj2mt-MuiTypography-root{
    margin-top: 50px;
    font-size: 13px;
    color: rgb(173, 169, 169);

}





}